DATABASE_URL="postgresql://postgres:postgres@localhost:5433/jira_lite_mvp?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me-in-local-development"
LDAP_URL="ldap://192.168.1.117:389"
LDAP_BIND_DN="CN=user3,OU=perfil_movil,OU=usuarios,DC=newcreangel,DC=local"
LDAP_BIND_PASSWORD="change-me"
LDAP_BASE_DN="OU=perfil_movil,OU=usuarios,DC=newcreangel,DC=local"
LDAP_USER_FILTER="(objectClass=user)"
LDAP_LOGIN_ATTRIBUTE="sAMAccountName"
LDAP_REQUIRED_GROUP_DN="CN=VPN,CN=Users,DC=newcreangel,DC=local"
